<!DOCTYPE html>
{% load cache %}
{% load i18n %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{{ flatpage.title }}</title>
        {% load static %}

        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>

<body>
    <form action="{% url 'set_language' %}" method="POST"> {% csrf_token %}
        <input type="hidden" name="next" value="{{ redirect_to }}">

        <select name="language" id="">
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% get_current_language as LANGUAGE_CODE %}
            {% for language in languages %}
                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                    {{ language.name_local }} - {{ language.code }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="set">
    </form>
    {{ string }}

<!-- Display messages -->
    {% trans "Check out my new cool translation" %}! <!-- Переводим строку -->
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <!-- Responsive navbar-->
    {% cache 600 navbar request.LANGUAGE_CODE %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'news_list' %}">{% trans "NEWS FINANCE (censored)" %}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'news_by_category' category_name='Stock Market' %}">{% trans "Stock Market" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'news_by_category' category_name='Economics' %}">{% trans "Economics" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'news_by_category' category_name='Housing' %}">{% trans "Housing" %}</a>
                    </li>

<!--                        USER AUTHENTICATION SECTION-->

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">{% trans "Sign UP" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">{% trans "Login" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">{% trans "Logout" %}</a>
                    </li>


                </ul>
            </div>
        </div>
    </nav>
    {% endcache %}
    <!-- Page content-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>
                {% if user.is_authenticated %}

                <a href="{% url 'get_author' %}">
                        <button type="button">{% trans "Become an Author!" %}</button>
                </a>

                    {% endif %}
                </h1>
                <h2>{% trans "Welcome," %}
                  {% if user.is_authenticated %}
                    <span style="color: green;">{{ user.username }}</span>! {% trans "Now you can edit news," %}

                  {% else %}
                    <span style="color: red;">{% trans "Guest!" %} </span> {% trans "(Please log in or sign up to edit news)" %}
                  {% endif %}
                </h2>

                {% block content %}
                <hr>
                {{ flatpage.content }}
                <hr>
                {% endblock content %}
            </div>
        </div>
    </div>
</body>

</html>
