<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{{ flatpage.title }}</title>
        {% load static %}

        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>

<body>
<!-- Display messages -->
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'news_list' %}">NEWS FINANCE (censored)</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'news_by_category' category_name='Stock Market' %}">Stock Market</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'news_by_category' category_name='Economics' %}">Economics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'news_by_category' category_name='Housing' %}">Housing</a>
                    </li>

<!--                        USER AUTHENTICATION SECTION-->

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Sign UP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                    </li>


                </ul>
            </div>
        </div>
    </nav>
    <!-- Page content-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>
                {% if user.is_authenticated %}
                <a href="{% url 'get_author' %}">
                        <button type="button">Become an Author!</button>
                </a>
                    {% endif %}
                </h1>
                <h2>Welcome,
                  {% if user.is_authenticated %}
                    <span style="color: green;">{{ user.username }}</span>! Now you can edit news

                  {% else %}
                    <span style="color: red;">Guest! </span> (Please log in or sign up to edit news)
                  {% endif %}
                </h2>

                {% block content %}
                <hr>
                {{ flatpage.content }}
                <hr>
                {% endblock content %}
            </div>
        </div>
    </div>
</body>

</html>
