<!--THIS HTML CAN BE USED AS CUSTOM TEMPLATE (WHEN ALLAUTH DISABLED)-->

{% extends 'flatpages/default.html' %}
{% load cache %}
{% block title %}
Login
{% endblock title %}

{% block content %}
<p>
</p>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}" />  <!--redirects back to URL user was trying to access login-->
        {% cache 900 submit_button %}
        <button type="submit">Login</button>
        {% endcache %}
    </form>

{% endblock content %}
