<!--THIS HTML CAN BE USED AS CUSTOM TEMPLATE (WHEN ALLAUTH DISABLED)-->

{% extends 'flatpages/default.html' %}
{% load i18n %}
{% block title %}
Login
{% endblock title %}

{% block content %}
<p>
</p>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}" />  <!--redirects back to URL user was trying to access login-->
        <button type="submit">{% trans "Login" %}</button>
    </form>

{% endblock content %}
