{% extends 'flatpages/default.html' %}
{% load i18n %}
{% load custom_filters %}
{% block title %}

{% trans "News" %}
{% endblock title %}

{% block content %}
<h1>{% trans "All news" %}</h1>

<!--Add form-->
   <form method="get">
       {{ filterset.form.as_p }}

<!--       Form button-->

       <button type="submit">{% trans "Search" %}</button>

       <a href="{% url 'news_list' %}">
           <button type="button">{% trans "Reset Search" %}</button>
       </a>

   </form>

<hr>
<table>
       <tr>
           <td><strong>{% trans "Name" %}</strong></td>
           <td><strong>{% trans "Description" %}</strong></td>
           <td><strong>{% trans "Category" %}</strong></td>
           <td><strong>{% trans "Published on:" %}</strong></td>
       </tr>

<!--    Beginning of the loop. For each news new line will be generated -->
       {% for news_list in news_list %}
       <tr>
           <td>
                <a href="{% url 'news_detail' news_list.id %}">{{ news_list.name|censor_bad_words|truncatewords:10 }}</a>
           </td>
           <td>{{ news_list.description|truncatewords:7|safe }}</td>
           <td>{{ news_list.category.name }}</td>
           <td><i>{{ news_list.published_date }}</i></td>
       </tr>
       {% endfor %}


</table>
<hr>

<!--    Adding pagination-->
<a href="?page=1">&laquo;&laquo;</a>    <!--move to the first page-->

<!-- Pagination links with filter parameters -->
{% if page_obj.has_previous %}
    <a href="?{{ request.GET.urlencode }}&page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a>
    {% if page_obj.previous_page_number != 1 %}
        <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
    {% endif %}
{% endif %}

<!-- Current page info -->
{{ page_obj.number }}

<!-- Next pages info-->
{% if page_obj.has_next %}
    <a href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}">{% trans "Next" %}</a>
    {% if paginator.num_pages != page_obj.next_page_number %}
        <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}
{% endif %}
<a href="?page={{ page_obj.paginator.num_pages }}">&raquo;&raquo;</a>   <!--move to the last page-->

<p></p>

<h2> {% trans "Sumbit Your Own News" %} </h2>

<a href="{% url 'create' %}"><button type="button">{% trans "Submit" %}</button>
</a>


{% endblock content %}