{% extends 'flatpages/default.html' %}
{% load cache %}
{% load custom_filters %}

{% block title %}
News
{% endblock title %}
{% block content %}
<h1>{{ news_detail.name|censor_bad_words|safe }}</h1>
<p>{{ news_detail.description|safe }}</p>

{% cache 900 news_detail_edit_button %}
<a href="{% url 'news_form' news_detail.pk %}">
<button type="button">Edit this news</button>
</a>
{% endcache %}

{% cache 900 news_detail_delete_button %}
<a href="{% url 'news_delete' news_detail.pk %}">
<button type="button">Delete this news</button>
</a>
{% endcache %}

{% cache 900 news_detail_cancel_button %}
<a href="{% url 'news_list' %}">
<button type="button">Cancel</button>
</a>
{% endcache %}

{% endblock content %}

