{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% block title %}
News
{% endblock title %}

{% block content %}
<h1>All news</h1>

<!--Add form-->
   <form method="get">
       {{ filterset.form.as_p }}

<!--       Form button-->
       <button type="submit">Search</button>
<!--       <button type="reset">Reset</button>-->

   </form>
<hr>
<table>
       <tr>
           <td><strong>Name</strong></td>
           <td><strong>Description</strong></td>
           <td><strong>Category</strong></td>
           <td><strong>Published on:</strong></td>
       </tr>

<!--    Beginning of the loop. For each news new line will be generated -->
       {% for news_list in news_list %}
       <tr>
           <td>
                <a href="{% url 'news_detail' news_list.id %}">{{ news_list.name|censor_bad_words|truncatewords:10 }}</a>
           </td>
           <td>{{ news_list.description|truncatewords:7|safe }}</td>
           <td>{{ news_list.category.name }}</td>
           <td><i>{{ news_list.published_date }}</i></td>
       </tr>
       {% endfor %}


</table>
<hr>

<!--    Adding pagination-->
<a href="?page=1">&laquo;&laquo;</a>    <!--move to the first page-->

<!-- Pagination links with filter parameters -->
{% if page_obj.has_previous %}
    <a href="?{{ request.GET.urlencode }}&page={{ page_obj.previous_page_number }}">Previous</a>
    {% if page_obj.previous_page_number != 1 %}
        <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
    {% endif %}
{% endif %}

<!-- Current page info -->
{{ page_obj.number }}

<!-- Next pages info-->
{% if page_obj.has_next %}
    <a href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}">Next</a>
    {% if paginator.num_pages != page_obj.next_page_number %}
        <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}
{% endif %}
<a href="?page={{ page_obj.paginator.num_pages }}">&raquo;&raquo;</a>   <!--move to the last page-->

<p></p>

<h2> Sumbit Your Own News </h2>
<a href="{% url 'create' %}">
    <button type="button">Submit</button>
</a>

{% endblock content %}