{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% block title %}
News
{% endblock title %}

{% block content %}
<h1>All news</h1>
<hr>
<table>
       <tr>
           <td><strong>Name</strong></td>
           <td><strong>Description</strong></td>
           <td><strong>Category</strong></td>
           <td><strong>Published on:</strong></td>
       </tr>

<!--           Beginning of the loop. For each news new line will be generated -->
       {% for news_list in news_list %}
       <tr>
           <td>
                <a href="{% url 'news_detail' news_list.id %}">{{ news_list.name|censor_bad_words|truncatewords:10 }}</a>
           </td>
           <td>{{ news_list.description|truncatewords:7|safe }}</td>
           <td>{{ news_list.category.name }}</td>
           <td><i>{{ news_list.published_date }}</i></td>
       </tr>
       {% endfor %}

</table>
<hr>
{% endblock content %}